 * {
    margin: 0;
}
@import url("fonts/roboto/stylesheet.css");

.About-me {
    width: 485px;
    height: 278px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120.25px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.slide-1 {
    display: flex;
    height: 506px;
    margin: auto;
    justify-content: center;
    background-color:#F6F6F6;
}
.words {
    width: 227px;
    height: 119px;
    margin: auto;
    padding-bottom: 83px;
    text-align: center;
}
.slide-2 {
    width: 1420px;
    height: 581px;
    margin: auto;
    padding-top: 91px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.icons {
    width: 846px;
    height: 90px;
    display: flex;
    margin-top: 84px;
}

.slide-2-bottom {
    width: 846px;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    color: #828282;
    align-items: center;
}
h2 {
    font-size: 34px;
}
.words p {
    font-size: 18px;
}
.About-me p {
    font-size: 18px;
}
.text1 {
    width: 71px;
    text-align: center;
    padding-top: 23.03px;
    margin: auto;
    font-size: 14px;
}
.images{
    display: flex;
    flex-direction: column;
}

.parent-images{
    width: 842px;
    height: 144px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.stars {
    width: 936px;
    display: flex;
    align-items: center;
    padding-top: 41px;
    justify-content: space-between;
    margin: auto;

}
.star1 {
    display: flex;
    justify-content: space-between;
    gap: 9.9px;
}
.star2 {
    display: flex;
    justify-content: space-between;
    gap: 9.9px;
}
.star3 {
    display: flex;
    justify-content: space-between;
    gap: 9.9px;
}
.star4 {
    display: flex;
    justify-content: space-between;
    gap: 9.9px;
}
.text2 {
    width: 80px;
    height: 28px;
    text-align: center;
    padding-top: 23.03px;
    margin: auto;
    font-size: 14px;
}
.words p{
    padding-top: 69.1px;
}